data/amministratore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" >

<xsd:element name="amministratore">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="password">
  			    <xsd:simpleType>
  		    	<xsd:restriction base="xsd:string">
    	   	     <xsd:minLength value="5"/>
      			 <xsd:maxLength value="12"/>
    			</xsd:restriction>
  				</xsd:simpleType>
			</xsd:element> 			
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>




</xsd:schema>
<!-- by Luca Last Update 28/04/2016-->
